social_media:
  default_hashtags:
    - mediaoverload
    - kirby

  platforms:
    instagram_graph:
      config_folder_path: /app/configs/social_media/credentials/kirby
      prefix: ""
      enabled: true

    facebook:
      config_folder_path: /app/configs/social_media/credentials/kirby
      prefix: ""
      enabled: true

    twitter:
      config_folder_path: /app/configs/social_media/credentials/kirby
      prefix: ""
      enabled: true
